{{ define "main" }}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!-- <script src="{{ "js/main.js" | absURL }}"></script>
<script src="{{ "js/highlight.js" | absURL }}"></script> -->
<!-- <script>
    hljs.initHighlightingOnLoad();
</script> -->

{{ range .Site.Params.customJS }}
<script src="{{ . | absURL }}"></script>
{{ end }}

{{ template "_internal/google_analytics.html" . }}

</br>
<div class="image-grid">
    {{ with .Site.GetPage "/works" }}
        {{ range  (sort .Data.Pages "Date" "desc")}}
            <a href="{{ .Permalink }}" title="{{ .Title }}">
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            {{ with $image }}
                {{ $thumb := .Resize "700x" }}
                <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
            {{end}}
            </a>
        {{ end }}
    {{ end }}
    </div>
    

<!-- <h1>Latest posts</h1> -->

<!-- <div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div> -->


    
{{ end }}